.border-wt{border:1px solid white;}
.border-gr{border:1px solid green;}
.border-rd{border:1px solid red;}
.border-yl{border:1px solid yellow;}
.border-bl{border:1px solid blue;}

/* Obnoxious styling for icon fonts */
.fa{transition:all 1.5s ease;}
.fa-envelope-o {
  color: rgb(201, 44, 25);
}

.fa-envelope-o:hover {
  color: white;
  background: rgb(201, 44, 25);
}
.fa-phone {
  color: green;
}

.fa-phone:hover {
  color: #fff;
  background: green;
}
.fa-twitter {
  color: #4099FF;
}

.fa-twitter:hover {
  color: white;
  background: #4099FF;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-linkedin:hover {
  color: white;
  background: #0077b5;
}

.fa-drupal {
  color: #0678bf;
}

.fa-drupal:hover {
  color: white;
  background: #0678bf;
}

.fa-github {
  color: #333;
}

.fa-github:hover {
  color: white;
  background: #333;
}

.fa-dribbble {
  color: #ea4c89;
}

.fa-dribbble:hover {
  color: white;
  background: #ea4c89;
}

.fa-codepen {
  color: black;
}

.fa-codepen:hover {
  color: white;
  background: black;
}

.fa-stack-overflow {
  color: #07c;
}

.fa-stack-overflow:hover {
  color: white;
  background: #07c;
}

.fa-fire {
  color: #4b2a10;
}

.fa-fire:hover {
  color: white;
  background: #4b2a10;
}

.azm-android { background: #8ec147; }
.azm-apple { background: #777; }
.azm-behance { background: #0077ff; }
.azm-bitcoin { background: #f79012; }
.azm-buysellads { background: #c90100; }
.azm-codepen { background: #444; }
.azm-css3 { background: #0270bb; }
.azm-delicious { background: #31a9ff; }
.azm-deviantart { background: #05cc47; }
.azm-digg { background: #0093cc; }
.azm-dribbble { background: #ea4c89; }
.azm-dropbox { background: #007ee5; }
.azm-drupal { background: #0073ba; }
.azm-email-1 { background: #35c7ed; }
.azm-email-2 { background: #35c7ed; }
.azm-facebook { background: #4862a3; }
.azm-flickr { background: #ff1981; }
.azm-foursquare { background: #f04d7a; }
.azm-git { background: #f64d27; }
.azm-github { background: #999; }
.azm-google { background: #3f85f4; }
.azm-google-plus { background: #dd4b39; }
.azm-html5 { background: #e54d26; }
.azm-instagram { background: #3d6b92; }
.azm-joomla { background: #fc8f30; }
.azm-jsfiddle { background: #4679bd; }
.azm-lastfm { background: #df1c23; }
.azm-linkedin { background: #0177b5; }
.azm-linux { background: #39a6df; }
.azm-maxcdn { background: #ff5b02; }
.azm-medium { background: #333; }
.azm-pagelines { background: #444; }
.azm-paypal { background: #009cde; }
.azm-pinterest { background: #db242c; }
.azm-reddit { background: #ff4500; }
.azm-rss { background: #fc8f55; }
.azm-share { background: #01924b; }
.azm-skype { background: #00aff0; }
.azm-slideshare { background: #0679b5; }
.azm-soundcloud { background: #ff4e00; }
.azm-spotify { background: #84bd00; }
.azm-stack-exchange { background: #366fb3; }
.azm-stack-overflow { background: #07c; }
.azm-stumbleupon { background: #ea4b24; }
.azm-trello { background: #026aa7; }
.azm-tumblr { background: #2c4762; }
.azm-twitter { background: #55acee; }
.azm-vimeo { background: #44bbff; }
.azm-vine { background: #00bf8f; }
.azm-vk { background: #6281a3; }
.azm-whatsapp { background: #59ac23; }
.azm-windows { background: #00bcf2; }
.azm-wordpress { background: #1e8cbe; }
.azm-xing { background: #006464; }
.azm-yahoo { background: #5210c4; }
.azm-yelp { background: #c41200; }
.azm-youtube { background: #d02022; }
.azm-youtube-play { background: #d02022; }
/* ------- DEV ICONS ------- */
.devicons {
  color: #000;
  margin: 0 .25em;
}

.devicons-html5 {
  color: #E34C26;
}

.devicons-css3 {
  color: #0b73b8;
}

.devicons-bootstrap {
  color: #401F7C;
}

.devicons-wordpress {
  color: #21759b;
}

.devicons-javascript {
  background: #f0db4f;
}

.devicons-jquery {
  color: #0769AD;
}

.devicons-sass {
  color: #c69;/*// lighter pink //*/
  color: #b37399;/*// darker pink //*/
}

.devicons-angular {
  color: #e62a39;
}

.devicons-nodejs {
  color: #8CC84B;
  font-size: 8em;
}

.devicons-npm {
  color: #cb3837;
}

.devicons-sublime {
  color: #ff8100;
}

.devicons-cloud9 {
  color: #237cc5;
}

.devicons-vim {
  color: #019833;
}

.devicons-heroku {
  color: #6567a5;
}

.devicons-git {
  color: #ee513b;
}

.devicons-drupal {
  color: #0678bf;
}

.devicons-react {
  color: #61dafb;
  border-radius: 50%;
  background: #111;
}
