/* line 43, ../scss/_colors.scss */
.white-gloss, .portfolio-item .hover .tags, .portfolio-img .caption span .tags {
  background-color: white;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlZGVkZWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}

/* Obnoxious styling for icon fonts */
/* line 51, ../scss/_colors.scss */
.connect .fa {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
/* line 54, ../scss/_colors.scss */
.connect .fa.fa-envelope-o {
  color: #c92c19;
}
/* line 56, ../scss/_colors.scss */
.connect .fa.fa-envelope-o:hover {
  color: white;
  background: #c92c19;
}
/* line 62, ../scss/_colors.scss */
.connect .fa.fa-phone {
  color: green;
}
/* line 64, ../scss/_colors.scss */
.connect .fa.fa-phone:hover {
  color: #fff;
  background: green;
}
/* line 70, ../scss/_colors.scss */
.connect .fa.fa-twitter {
  color: #4099FF;
}
/* line 72, ../scss/_colors.scss */
.connect .fa.fa-twitter:hover {
  color: white;
  background: #4099FF;
}
/* line 78, ../scss/_colors.scss */
.connect .fa.fa-linkedin {
  color: #0077b5;
}
/* line 80, ../scss/_colors.scss */
.connect .fa.fa-linkedin:hover {
  color: white;
  background: #0077b5;
}
/* line 86, ../scss/_colors.scss */
.connect .fa.fa-drupal {
  color: #0678bf;
}
/* line 88, ../scss/_colors.scss */
.connect .fa.fa-drupal:hover {
  color: white;
  background: #0678bf;
}
/* line 94, ../scss/_colors.scss */
.connect .fa.fa-github {
  color: #333;
}
/* line 96, ../scss/_colors.scss */
.connect .fa.fa-github:hover {
  color: white;
  background: #333;
}
/* line 102, ../scss/_colors.scss */
.connect .fa.fa-codepen {
  color: black;
}
/* line 104, ../scss/_colors.scss */
.connect .fa.fa-codepen:hover {
  color: white;
  background: black;
}
/* line 110, ../scss/_colors.scss */
.connect .fa.fa-stack-overflow {
  color: #07c;
}
/* line 112, ../scss/_colors.scss */
.connect .fa.fa-stack-overflow:hover {
  color: white;
  background: #07c;
}
/* line 118, ../scss/_colors.scss */
.connect .fa.fa-dribbble {
  color: #ea4c89;
}
/* line 120, ../scss/_colors.scss */
.connect .fa.fa-dribbble:hover {
  color: white;
  background: #ea4c89;
}
/* line 126, ../scss/_colors.scss */
.connect .fa.fa-fire {
  color: #4b2a10;
}
/* line 128, ../scss/_colors.scss */
.connect .fa.fa-fire:hover {
  color: white;
  background: #4b2a10;
}

/* line 3, ../scss/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

/* line 9, ../scss/_global.scss */
* {
  -webkit-transition: all 1s ease,color .25s ease-in-out;
  transition: all 1s ease,color .25s ease-in-out;
  font-family: sans-serif;
}

/* line 14, ../scss/_global.scss */
body, html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  background: #444;
  color: #000;
}

/* line 22, ../scss/_global.scss */
a {
  color: #003f75;
}

/* line 26, ../scss/_global.scss */
a:hover {
  color: #666;
}

/* line 30, ../scss/_global.scss */
h1, h2, h3, h4 {
  font-family: "Cagliostro", cursive;
}

/* line 34, ../scss/_global.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 37, ../scss/_global.scss */
ul li {
  margin: 0;
  padding: 0;
}

/* line 42, ../scss/_global.scss */
.center, .connect div i {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

/* line 46, ../scss/_global.scss */
.flexsb {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

/* line 50, ../scss/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, ../scss/_global.scss */
.ds1, .grey {
  -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.8);
}

/* line 60, ../scss/_global.scss */
.br1 {
  border-radius: 10px;
}

/* line 64, ../scss/_global.scss */
.br2 {
  border-radius: 4px;
}

/* line 68, ../scss/_global.scss */
.br3 {
  border-radius: 6px;
}

/* line 72, ../scss/_global.scss */
.bdr {
  border: 2px dotted yellow;
}

/* line 77, ../scss/_global.scss */
.ul {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid white;
}

/* line 82, ../scss/_global.scss */
.r45 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 86, ../scss/_global.scss */
.grey {
  background: #7d7d7d;
  padding: 20px;
}

/* line 92, ../scss/_global.scss */
.uc {
  text-transform: uppercase;
}

/* line 97, ../scss/_global.scss */
hr.star-dark, hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid .25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
/* line 105, ../scss/_global.scss */
hr.star-dark:after, hr.star-light:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005';
  font-family: "FontAwesome";
  font-size: 2em;
}
/* line 115, ../scss/_global.scss */
hr.star-light {
  border-color: #fff;
  background-color: #18bc9c;
}
/* line 117, ../scss/_global.scss */
hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}
/* line 124, ../scss/_global.scss */
hr.star-dark {
  border-color: #2c3e50;
}
/* line 126, ../scss/_global.scss */
hr.star-dark:after {
  color: #2c3e50;
  background-color: #fff;
}

/* line 133, ../scss/_global.scss */
a.dir-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 139, ../scss/_global.scss */
a.dir-wrapper img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 145, ../scss/_global.scss */
a.dir-wrapper > .img {
  display: block;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0 0 63% 0;
}
/* line 151, ../scss/_global.scss */
a.dir-wrapper .hover {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

/* line 182, ../scss/_global.scss */
.p-cont {
  display: block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 186, ../scss/_global.scss */
.p-cont * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* content backgrounds */
/* line 2, ../scss/_layout.scss */
section {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100vw;
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}

/* line 13, ../scss/_layout.scss */
section:nth-of-type(1) {
  min-height: 100vh;
  padding: 10%;
  background-image: url("//baristasbeans.com/portfolio/img/0.jpg");
}

/* line 18, ../scss/_layout.scss */
section:nth-of-type(2) {
  min-height: 100vh;
  padding: 7% 1%;
  background-image: url("//baristasbeans.com/portfolio/img/3.jpg");
}

/* line 23, ../scss/_layout.scss */
section:nth-of-type(3) {
  height: auto;
  background-image: url("//baristasbeans.com/portfolio/img/3.jpg");
}

/* line 27, ../scss/_layout.scss */
section:nth-of-type(4) {
  min-height: 100vh;
  padding: 10% 1%;
  background-image: url("//baristasbeans.com/portfolio/img/0.jpg");
}

/* line 1, ../scss/_base.scss */
.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav .navbar-brand:hover {
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  color: white;
  background-color: #333;
}

/* line 8, ../scss/_base.scss */
.topnav a {
  font-size: 1.15em;
  text-transform: uppercase;
}

/* line 10, ../scss/_base.scss */
.navbar-default {
  color: #333;
}

/* line 14, ../scss/_base.scss */
.banner-message > h1 {
  font-size: 5em;
  text-shadow: 3px 3px 3px #333;
  color: white;
}

/* line 20, ../scss/_base.scss */
.banner-message h3,
.section:nth-of-type(4) h1 {
  color: white;
  text-shadow: 1px 2px 3px #333;
}

/* line 29, ../scss/_base.scss */
.headshot {
  border-radius: 50% / 50%;
  -webkit-box-shadow: 0.35em 0.35em 0.55em 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0.35em 0.35em 0.55em 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  border: 0.45em solid #fff;
  z-index: 9;
}

/* line 38, ../scss/_base.scss */
#about-card {
  max-width: 700px;
  padding: 3em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px / 10px;
}
/* line 39, ../scss/_base.scss */
#about-card p {
  text-align: justify;
}

/* line 50, ../scss/_base.scss */
#lang-frame {
  width: auto;
}

/* line 54, ../scss/_base.scss */
.dl-horizontal {
  margin-top: .65em;
}

/* line 58, ../scss/_base.scss */
.a-cont {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  color: white;
  padding: 7%;
  margin: 0;
  min-height: 75vh;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
/* line 68, ../scss/_base.scss */
.a-cont .flex-wrapper {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}
/* line 71, ../scss/_base.scss */
.a-cont .a-item {
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  max-width: 350px;
  margin: 10px 20px;
}
/* line 76, ../scss/_base.scss */
.a-cont i {
  background: none;
  -webkit-box-shadow: #333 0 0 0 0;
  box-shadow: #333 0 0 0 0;
  text-shadow: #111 3px 3px 12px;
  text-shadow: #111 3px 3px 0 12px;
}
/* line 81, ../scss/_base.scss */
.a-cont h1 {
  text-align: center;
}
/* line 85, ../scss/_base.scss */
.a-cont p {
  border-top: 2.5px solid white;
  border-top: 2.5px solid rgba(255, 255, 255, 0.5);
  padding: 3% 0;
  text-align: justify;
}

/* line 95, ../scss/_base.scss */
.portfolio-item .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 100, ../scss/_base.scss */
.portfolio-item.labrea .img {
  background-image: url("/img/labrea.jpg");
}
/* line 103, ../scss/_base.scss */
.portfolio-item.otis .img {
  background-image: url("/img/otis.jpg");
}
/* line 106, ../scss/_base.scss */
.portfolio-item.mbf .img {
  background-image: url("/img/mbf.jpg");
}
/* line 109, ../scss/_base.scss */
.portfolio-item.nsb .img {
  background-image: url("/img/nsb.jpg");
}
/* line 112, ../scss/_base.scss */
.portfolio-item.cbv .img {
  background-image: url("/img/cbv.png");
}
/* line 115, ../scss/_base.scss */
.portfolio-item.zevia .img {
  background-image: url("/img/zevia.jpg");
}
/* line 118, ../scss/_base.scss */
.portfolio-item.healthnet .img {
  background-image: url("/img/healthnet.jpg");
}
/* line 121, ../scss/_base.scss */
.portfolio-item.foursight .img {
  background-image: url("/img/4sight.jpg");
}
/* line 124, ../scss/_base.scss */
.portfolio-item.aryzta .img {
  background-image: url("/img/aryzta.jpg");
}

/* line 129, ../scss/_base.scss */
.p-cont {
  width: 100%;
}
/* line 132, ../scss/_base.scss */
.p-cont > .flex-wrapper {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  margin-top: -20px;
  margin-left: -20px;
  width: auto;
  width: 100%;
}
/* line 143, ../scss/_mixins.scss */
.p-cont > .flex-wrapper > * {
  margin-top: 20px;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-flex: 1 0 calc((99.5% / 3) - 20px);
  -ms-flex: 1 0 calc((99.5% / 3) - 20px);
  -webkit-box-flex: 1;
          flex: 1 0 calc((99.5% / 3) - 20px);
  min-width: calc((99.5% / 3) - 20px);
  max-width: calc((100% / 3) - 20px);
}
@media (max-width: 960px) {
  /* line 132, ../scss/_base.scss */
  .p-cont > .flex-wrapper {
    margin-top: -20px;
    margin-left: -20px;
    width: auto;
  }
  /* line 143, ../scss/_mixins.scss */
  .p-cont > .flex-wrapper > * {
    margin-top: 20px;
    margin-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -moz-flex: 1 0 calc((99.5% / 2) - 20px);
    -ms-flex: 1 0 calc((99.5% / 2) - 20px);
    -webkit-box-flex: 1;
            flex: 1 0 calc((99.5% / 2) - 20px);
    min-width: calc((99.5% / 2) - 20px);
    max-width: calc((100% / 2) - 20px);
  }
}
@media (max-width: 768px) {
  /* line 132, ../scss/_base.scss */
  .p-cont > .flex-wrapper {
    margin-top: -20px;
    margin-left: -20px;
    width: auto;
  }
  /* line 143, ../scss/_mixins.scss */
  .p-cont > .flex-wrapper > * {
    margin-top: 20px;
    margin-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -moz-flex: 1 0 calc((99.5% / 1) - 20px);
    -ms-flex: 1 0 calc((99.5% / 1) - 20px);
    -webkit-box-flex: 1;
            flex: 1 0 calc((99.5% / 1) - 20px);
    min-width: calc((99.5% / 1) - 20px);
    max-width: calc((100% / 1) - 20px);
  }
}

/* line 145, ../scss/_base.scss */
.portfolio-item {
  position: relative;
}
/* line 149, ../scss/_base.scss */
.portfolio-item .hover-wrapper {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -moz-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 5%;
  position: relative;
}
/* line 156, ../scss/_base.scss */
.portfolio-item .hover {
  background: black;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: calc(0.5em + .65vw);
}
/* line 162, ../scss/_base.scss */
.portfolio-item .hover .job-name {
  font-size: calc(0.75em + .65vw);
  margin: 0;
  padding: 0 0 15px;
}
/* line 166, ../scss/_base.scss */
.portfolio-item .hover p {
  margin: 0;
  padding: 0 0 15px;
}
/* line 169, ../scss/_base.scss */
.portfolio-item .hover ul {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  /* @extend .center;
   justify-content:space-around;
   flex-wrap:wrap;*/
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
}
/* line 177, ../scss/_base.scss */
.portfolio-item .hover ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 183, ../scss/_base.scss */
.portfolio-item .hover .tags {
  width: 100%;
  z-index: 10;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* line 198, ../scss/_base.scss */
.portfolio-img {
  -webkit-box-shadow: 0.35em 0.35em 0.55em 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0.35em 0.35em 0.55em 0 rgba(0, 0, 0, 0.4);
  background-size: cover;
  margin: 20px 0 5px 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 199, ../scss/_base.scss */
.portfolio-img h4:active {
  text-decoration: none !important;
}
/* line 211, ../scss/_base.scss */
.portfolio-img a:hover, .portfolio-img a:active {
  text-decoration: none !important;
}
/* line 213, ../scss/_base.scss */
.portfolio-img a:hover .caption, .portfolio-img a:active .caption {
  background: rgba(0, 0, 0, 0.65);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 216, ../scss/_base.scss */
.portfolio-img a:hover .caption span, .portfolio-img a:active .caption span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 221, ../scss/_base.scss */
.portfolio-img .caption {
  background: black;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(82%);
  transform: translateY(82%);
  color: #fff;
  font-size: calc(0.5em + .65vw);
}
/* line 228, ../scss/_base.scss */
.portfolio-img .caption .job-name {
  font-size: calc(0.75em + .65vw);
  height: 10%;
  margin: 0 10px 3px 6px;
  padding: 10px 0 0 5px;
}
/* line 234, ../scss/_base.scss */
.portfolio-img .caption ul {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  /* @extend .center;
   justify-content:space-around;
   flex-wrap:wrap;*/
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
}
/* line 242, ../scss/_base.scss */
.portfolio-img .caption ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 248, ../scss/_base.scss */
.portfolio-img .caption .oauth img {
  height: calc(0.7em + 1.2vw);
  margin-bottom: 2px;
  padding: 0;
}
/* line 253, ../scss/_base.scss */
.portfolio-img .caption .devicons {
  font-size: calc(0.7em + 1.2vw);
}
/* line 256, ../scss/_base.scss */
.portfolio-img .caption .devicons-javascript {
  font-size: calc(0.53em + 1.2vw);
}
/* line 259, ../scss/_base.scss */
.portfolio-img .caption span {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  display: none;
}
/* line 266, ../scss/_base.scss */
.portfolio-img .caption span p {
  padding: 6% 6% 0 6%;
  max-height: 73%;
  overflow: hidden;
}
/* line 271, ../scss/_base.scss */
.portfolio-img .caption span .tags {
  z-index: 10;
  color: #000;
}

/* line 282, ../scss/_base.scss */
.devI-container {
  margin: 0;
  padding: 3px;
  background: white;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

/* line 289, ../scss/_base.scss */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 296, ../scss/_base.scss */
.connect div {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 30px;
}
/* line 298, ../scss/_base.scss */
.connect div .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.75);
}
/* line 302, ../scss/_base.scss */
.connect div .tooltip > .tooltip-inner {
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 1.25em;
  padding: 5px;
}
/* line 310, ../scss/_base.scss */
.connect div a {
  text-decoration: none;
}
/* line 313, ../scss/_base.scss */
.connect div i {
  border-radius: 50%;
  -webkit-box-shadow: 0.15em 0.15em 0.35em 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0.15em 0.15em 0.35em 0 rgba(0, 0, 0, 0.4);
  font-size: calc(1.2em + 1.3vw);
  height: calc(1.2em + 2.5vw);
  width: calc(1.2em + 2.5vw);
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  margin: 1em .5em 0 .5em;
  padding: .5em;
}

/* line 328, ../scss/_base.scss */
.back-to-top {
  font-size: 0.75em;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  border-radius: 4px;
  z-index: 3;
}
/* line 341, ../scss/_base.scss */
.back-to-top :hover {
  border-radius: 4px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

/* line 349, ../scss/_base.scss */
footer {
  color: #333;
  background-color: white;
}
