.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav .navbar-brand:hover {
	transition: all .75s linear;
	color: white;
	background-color: $darkGrey;
}
.topnav a{font-size:1.15em;text-transform: uppercase;}

.navbar-default {
	color: $darkGrey;
}

.banner-message > h1 {
	font-size: 5em;
	text-shadow: 3px 3px 3px $darkGrey;
	color: white;
}

.banner-message h3,
.section:nth-of-type(4) h1 {
	color: white;
	text-shadow: 1px 2px 3px $darkGrey;
}

.banner-message {
}

.headshot {
	@include border-radius(50%, 50%);
	@include single-box-shadow(.35em, .35em, .55em, 0, rgba(black, 0.4));
	transform:translateY(30px) rotate(10deg);
	width: 225px;
	display: block;
	height: 225px;
	border: 0.45em solid #fff;
	//border: 0.45em solid rgba(white, 0.75);
	z-index: 9;
}

#about-card {
	p {
		text-align: justify;
	}
	max-width: 700px;
	padding: 3em;
	background-color: white;
	background-color: rgba(white, 0.75);
	@include border-radius(10px, 10px);
	//@media (max-width:745px) {margin: 10px;}
}

#lang-frame {
	width: auto;
}

.dl-horizontal {
	margin-top: .65em;
}

.a-cont {
	@include marding();
	@include flex($wrap: wrap);
	width: 100%;
	color: white;
	padding: 7%;
	margin: 0;
	min-height: 75vh;
	background: #000; //opaque fallback
	background: rgba(black, 0.5);
	.flex-wrapper {
		@include flex(center, flex-start, $wrap: wrap);
	}
	.a-item {
		@include flexchild(1, 1, auto);
		max-width: 350px;
		margin: 10px 20px;
	}
	i {
		background: none;
		@include box-shadow (#333 0 0 0 0);
		@include text-shadow (#111 3px 3px 0 12px);
	}
	h1 {
		text-align: center;
		//@include marding();
	}
	p {
		border-top: 2.5px solid white; //opaque fallback
		border-top: 2.5px solid rgba(white, 0.5);
		padding: 3% 0;
		text-align: justify;
	}
}
.tooltip *{border: none !important;}
///////Portfolio
a[name="portfolio"] {
	transform: translateY(-50px);
	display:  block;
	width:100%;
	height:0;
}
.portfolio-item {
	.img {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.labrea .img {
		background-image: url('/img/labrea.jpg');
	}
	&.otis .img {
		background-image: url('/img/otis.jpg');
	}
	&.mbf .img {
		background-image: url('/img/mbf.jpg');
	}
	&.nsb .img {
		background-image: url('/img/nsb.jpg');
	}
	&.cbv .img {
		background-image: url('/img/cbv.png');
	}
	&.zevia .img {
		background-image: url('/img/zevia.jpg');
	}
	&.healthnet .img {
		background-image: url('/img/healthnet.jpg');
	}
	&.foursight .img {
		background-image: url('/img/4sight.jpg');
	}
	&.aryzta .img {
		background-image: url('/img/aryzta.jpg');
	}
	&.baristas .img {
		background-image: url('/img/port1.jpg');
	}
	&.hark .img {
		background-image: url('/img/hark.png');
	}
}

.p-cont {
	@extend %boxw;
	width: 100%;
	$gutter:25px;
	padding:$gutter 0 $gutter $gutter;
	> .flex-wrapper {
		@include flex(flex-start, stretch, $wrap: wrap);
		@include flex-grid(3, $gutter, $gutter);
		@media (max-width: $desktop-breakpoint) {
			@include flex-grid(2, $gutter, $gutter);
		}
		@media (max-width: $tablet-breakpoint) {
			@include flex-grid(1, $gutter, 0);
		}
		width: 100%;
	}
}

.portfolio-item {
	position: relative;
	.ar {
	}
	.hover-wrapper {
		@include flex(flex-start, flex-start, $direction: column);
		width: 100%;
		height: 100%;
		padding: 5%;
		position: relative;
	}
	.hover {
		background: rgba(0, 0, 0, 1);
		height: 100%;
		width: 100%;
		color: #fff;
		font-size: calc(0.5em + .65vw);
		.job-name {
			font-size: calc(0.75em + .65vw);
			@include marding(0, 0 0 15px);
		}
		p {
			@include marding(0, 0 0 15px);
		}
		ul {
			@include flex(space-around, $wrap: wrap);
			/* @extend .center;
			 justify-content:space-around;
			 flex-wrap:wrap;*/
			list-style-type: none;
			margin: 0;
			padding: 3px 0;
			li {
				margin: 0;
				padding: 0;
				display: inline;
			}
		}
		.tags {
			width: 100%;
			z-index: 10;
			@extend .white-gloss;
			//@include border-radius(7px);
			color: #000;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			transform: translateY(-100%);
		}
	}
}

.portfolio-img { //
	h4:active {
		text-decoration: none !important;
	}
	@include single-box-shadow(.35em, .35em, .55em, 0, rgba(black, 0.4));
	@include background-size(cover);
	margin: 20px 0 5px 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	a:hover, a:active {
		text-decoration: none !important;
		.caption {
			background: rgba(black, .65);
			@include translateY(0);
			span {
				display: flex;
			}
		}
	}
	.caption {
		background: rgba(0, 0, 0, 1);
		height: 100%;
		width: 100%;
		@include translateY(82%);
		color: #fff;
		font-size: calc(0.5em + .65vw);
		.job-name {
			font-size: calc(0.75em + .65vw);
			height: 10%;
			margin: 0 10px 3px 6px;
			padding: 10px 0 0 5px;
		}
		ul {
			@include flex(space-around, $wrap: wrap);
			/* @extend .center;
			 justify-content:space-around;
			 flex-wrap:wrap;*/
			list-style-type: none;
			margin: 0;
			padding: 3px 0;
			li {
				margin: 0;
				padding: 0;
				display: inline;
			}
		}
		.oauth img {
			height: calc(0.7em + 1.2vw);
			margin-bottom: 2px;
			padding: 0;
		}
		.devicons {
			font-size: calc(0.7em + 1.2vw);
		}
		.devicons-javascript {
			font-size: calc(0.53em + 1.2vw);
		}
		span {
			overflow: hidden;
			//display:flex;
			flex-direction: column;
			justify-content: space-between;
			height: 90%;
			display: none;
			p {
				padding: 6% 6% 0 6%;
				max-height: 73%;
				overflow: hidden;
			}
			.tags {
				z-index: 10;
				@extend .white-gloss;
				//@include border-radius(7px);
				color: #000;
			}
		}
	}
}

/////// DevIcons /////////
.devI-container {
	@include marding(0, 3px);
	background: white;
	@include flex($wrap: wrap);
}

/////////////
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.connect {
	div {
		@include flex($wrap: wrap);
		.tooltip.bottom > .tooltip-arrow {
			border-bottom-color: #fff;
			border-bottom-color: rgba(white, 0.75);
		}
		.tooltip > .tooltip-inner {
			background: #fff;
			background: rgba(white, 0.75);
			color: #000;
			font-size: 1.25em;
			padding: 5px;
		}
		padding: 30px;
		a {
			text-decoration: none;
		}
		i {
			@include border-radius(50%);
			@include single-box-shadow(.15em, .15em, .35em, 0, rgba(black, 0.4));
			@extend .center;
			font-size: calc(1.2em + 1.3vw);
			height: calc(1.2em + 2.5vw);
			width: calc(1.2em + 2.5vw);
			background: #fff;
			background: rgba(white, 0.75);
			margin: 1em .5em 0 .5em;
			padding: .5em;
		}
	}
}

.back-to-top {
	font-size: 0.75em;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 1em;
	margin: 1em;
	background: rgba(white, 0.75);
	border: 1px solid rgba(black, 0.4);
	transition: all .25s linear;
	border-radius: 4px;
	z-index: 3;
	:hover {
		border-radius: 4px;
		background: white;
		border: 1px solid black;
		cursor: pointer;
	}
}

footer {
	color: $darkGrey;
	background-color: rgba(white, 20);
}
.copyright {
	color: $darkGrey;
	padding: 5px 15px;
	background: rgba(white, .2);
	p {@include marding;
		text-align: center
	}
}