.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav .navbar-brand:hover {
	transition: all .75s linear;
	color: white;
	background-color: $darkGrey;
}

.topnav a {
	font-size: 1.15em;
	text-transform: uppercase;
}

.navbar-default {
	color: $darkGrey;
}

.headshot {
	@include border-radius(50%, 50%);
	@include single-box-shadow(.35em, .35em, .55em, 0, rgba(black, 0.4));
	//transform: rotate(10deg);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	width: 225px;
	display: block;
	height: 225px;
	border: 0.45em solid #fff;
	//border: 0.45em solid rgba(white, 0.75);
	z-index: 9;
	@media (max-width:$bp-sm-max) {margin-bottom: 25px;}
}

section.intro {
	> .container {
		@include flex($wrap: wrap);
		p {
			text-align: justify;
		}
		width:100%;
		max-width: 700px;
		padding: 3em;
		background-color: white;
		background-color: rgba(white, 0.75);
		//@include border-radius(10px, 10px);
		//@media (max-width:745px) {margin: 10px;}
	}
	.profile {
		//@include flexchild(1, 0, 0);
		padding: 0 25px;
		h1, h2, h3, h4 {
			@include marding(0 0 10px, 0);
			text-transform: uppercase
		}
		h1 {
			font-size: 68px;
			line-height: .8;
			letter-spacing: .04em;
			span {
				margin: 0;
				font-size: .7em;
				line-height: .5;
				font-family: $fontHead;
			}
		}
	}
	.contact { //width:100%;
		@include flex(center, flex-start, $wrap: wrap, $display: inline-flex);
		margin: -5px 0 0 -5px;
		a {
			text-decoration: none;
			margin: 5px;
		}
		i {
			@include flex;
			width: 27px;
			height: 27px;
			@include border-radius(5px);
			&:before {
				font-size: 22px;
				line-height: 27px;
			}
		}
	}
	.more-content {
		margin: 25px 0 0;
		@include not-mobile {
			p {
				font-size: 16px;
			}
		}
	}
}

.a-cont {
	@include marding();
	@include flex($wrap: wrap);
	width: 100%;
	color: white;
	padding: 7%;
	margin: 0;
	font-size: 1.25em;
	min-height: 75vh;
	background: #000; //opaque fallback
	background: rgba(black, 0.5);
	.flex-wrapper {
		@include flex(center, flex-start, $wrap: wrap);
	}
	.a-item {
		@include flexchild(1, 1, auto);
		max-width: 350px;
		margin: 10px 20px;
	}
	i {
		background: none;
		@include box-shadow (#333 0 0 0 0);
		@include text-shadow (#111 3px 3px 0 12px);
	}
	h1 {
		text-align: center;
		//@include marding();
	}
	p {
		border-top: 2.5px solid white; //opaque fallback
		border-top: 2.5px solid rgba(white, 0.5);
		padding: 3% 0;
		text-align: justify;
	}
}

///////Portfolio
a[name="portfolio"] {
	transform: translateY(-50px);
	display: block;
	width: 100%;
	height: 0;
}

//%work-bgs { //this is going to get deprecated with vue
//	.img {
//		background-size: cover;
//		background-position: center;
//		background-repeat: no-repeat;
//	}
//	&.labrea .img {
//		background-image: url('/img/labrea.jpg');
//	}
//	&.otis .img {
//		background-image: url('/img/otis.jpg');
//	}
//	&.mbf .img {
//		background-image: url('/img/mbf.jpg');
//	}
//	&.nsb .img {
//		background-image: url('/img/nsb.jpg');
//	}
//	&.cbv .img {
//		background-image: url('/img/cbv.png');
//	}
//	&.zevia .img {
//		background-image: url('/img/zevia.jpg');
//	}
//	&.healthnet .img {
//		background-image: url('/img/healthnet.jpg');
//	}
//	&.foursight .img {
//		background-image: url('/img/4sight.jpg');
//	}
//	&.aryzta .img {
//		background-image: url('/img/aryzta.jpg');
//	}
//	&.baristas .img {
//		background-image: url('/img/port1.jpg');
//	}
//	&.hark .img {
//		background-image: url('/img/hark.png');
//	}
//}

.p-cont {
	@extend %boxw;
	width: 100%;
	$gutter: 25px;
	padding: $gutter 0 $gutter $gutter;
	> .flex-wrapper {
		@include flex(flex-start, stretch, $wrap: wrap);
		@include flex-grid(3, $gutter, $gutter);
		@media (max-width: $desktop-breakpoint) {
			@include flex-grid(2, $gutter, $gutter);
		}
		@media (max-width: $tablet-breakpoint) {
			@include flex-grid(1, $gutter, 0);
		}
		width: 100%;
	}
}

.vue-portfolio {
	padding: 5%;
	.flex-wrapper {
		@include set-max-width;
		@include flex(center, flex-start, $wrap: wrap);
	}
	a {
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		color: black;
	}
}

.portfolio-list {
	@extend %ul-nostyle;
	margin-bottom: 5px;
	@include flex($wrap: wrap);
	@media (min-width:600px){
		margin-bottom: 15px;
		width: 175px;
		padding-right: 25px;
		@include flex(flex-start,stretch,$direction: column);
	}
	> h4 {display:block;width:100%;margin-bottom:5px}
	li {
		@include marding(5px, 0);
		&.inline {
			display: inline-block;
		}
		.dir-wrapper {
			text-align: center;
			cursor: pointer;
			@include flex();
			padding: 5px;
			border: 1px solid black;
			border-radius: 5px;

			&.active {
				background-color: rgba(#fff, .5);
				transition: background .5s ease;
			}
			> .title {
				position: relative;
				z-index: 10
			}
		}
		img.logo {
			display: block;
			position: relative;
			z-index: 1;
			height: 75px;
			width: auto;
			max-width: 100%;
			margin: auto;
			padding: 15px;
		}
		.hover {
			background-color: rgba(#fff, .5);
		}

	}
}

.portfolio-card {
	//@include set-max-width;
	width: 100%;
	@include flexchild(1,null,null);
	.img {
		background-position: top center;
		background-size: cover;
		overflow: hidden;
		transition: all 0s linear;
		.ar {
			display: block;
			@include marding(0, 0 0 42%);
			width: 100%;
			height: 0;
		}
	}
	@include not-mobile {
		p {
			font-size: 18px;
		}
	}
}

.portfolio-item {
	position: relative;
	//@extend %work-bgs;
	.ar {
	}
	.hover-wrapper {
		@include flex(flex-start, flex-start, $direction: column);
		width: 100%;
		height: 100%;
		padding: 5%;
		position: relative;
	}
	.hover {
		background: rgba(0, 0, 0, 1);
		height: 100%;
		width: 100%;
		color: #fff;
		font-size: calc(0.5em + .65vw);
		.job-name {
			font-size: calc(0.75em + .65vw);
			@include marding(0, 0 0 15px);
		}
		p {
			@include marding(0, 0 0 15px);
		}
		ul {
			@include flex(space-around, $wrap: wrap);
			/* @extend .center;
			 justify-content:space-around;
			 flex-wrap:wrap;*/
			list-style-type: none;
			margin: 0;
			padding: 3px 0;
			li {
				margin: 0;
				padding: 0;
				display: inline;
			}
		}
		.tags {
			width: 100%;
			z-index: 10;
			@extend .white-gloss;
			//@include border-radius(7px);
			color: #000;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			transform: translateY(-100%);
		}
	}
}

/////// DevIcons /////////
.devI-container {
	@include marding(0, 3px);
	background: white;
	@include flex($wrap: wrap);
}

///hide tags for now//
ul.tags {
	display: none !important
}

/////////////
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

//.connect {
//	div {
//		@include flex($wrap: wrap);
//		.tooltip.bottom > .tooltip-arrow {
//			border-bottom-color: #fff;
//			border-bottom-color: rgba(white, 0.75);
//		}
//		.tooltip > .tooltip-inner {
//			background: #fff;
//			background: rgba(white, 0.75);
//			color: #000;
//			font-size: 1.25em;
//			padding: 5px;
//		}
//		padding: 30px;
//		a {
//			text-decoration: none;
//		}
//		i {
//			@include border-radius(50%);
//			@include single-box-shadow(.15em, .15em, .35em, 0, rgba(black, 0.4));
//			@extend .center;
//			font-size: calc(1.2em + 1.3vw);
//			height: calc(1.2em + 2.5vw);
//			width: calc(1.2em + 2.5vw);
//			background: #fff;
//			background: rgba(white, 0.75);
//			margin: 1em .5em 0 .5em;
//			padding: .5em;
//		}
//	}
//}

.back-to-top {
	font-size: 0.75em;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 1em;
	margin: 1em;
	background: rgba(white, 0.75);
	border: 1px solid rgba(black, 0.4);
	transition: all .25s linear;
	border-radius: 4px;
	z-index: 3;
	:hover {
		border-radius: 4px;
		background: white;
		border: 1px solid black;
		cursor: pointer;
	}
}

footer {
	color: $darkGrey;
	background-color: rgba(white, 20);
}

.copyright {
	color: $darkGrey;
	padding: 5px 15px;
	background: rgba(white, .2);
	p {
		@include marding;
		text-align: center
	}
}