$white:rgba(255,255,255,1);
$white1:rgba(243,243,243,1);
$white2:rgba(237,237,237,1);
$white50:rgba(255,255,255,0.5);
$white75:rgba(255,255,255,0.75);

$lightGrey:#ccc;
$medGrey:#666;
$darkGrey:#333; 
$grey2:#9D9D93;
$grey3:#5C5151;
$brownGrey:rgb(89,79,79);
$blueGrey:rgb(84,121,128);
$greenGrey:#C5CFC6;

$tan:#f2f0df;
$green:#8e9e82;

$black40:rgba(0, 0, 0,0.4);
$black50:rgba(0, 0, 0,0.5);
$black60:rgba(0,0,0,0.6);
$blue70:rgba(33, 66, 120, 0.7);
$blue75:rgba(33, 66, 120, 0.75);
$medBlue:rgb(0, 116, 217);  
$mdGreenBlue:rgb(84,121,128); 
$pastelGreen:rgb(157,224,173);
$pastelYellow:rgb(229,252,194);


/* title: sandy stone beach ocean diver https://color.adobe.com/themeID/15325 */
$ssbod1:rgba(230,226,175,1);
$ssbod2:rgba(167,163,126,1);
$ssbod3:rgba(239,235,202,1);
$ssbod4:rgba(4,98,128,1);
$ssbod5:rgba(0,47,47,1);

/* title: Firenze https://color.adobe.com/themeID/24198 */
$fire1:rgba(70,137,102,1);
$fire2:rgba(255,239,165,1);
$fire3:rgba(255,175,59,1);
$fire4:rgba(182,73,38,1);
$fire5:rgba(142,40,0,1);

////clairedelune////
$claire1:#413E4A;
$claire2:#73626E;
$claire3:#B38184;
$claire4:#F0B49E;
$claire5:#F7E4BE;
//////////////////

////* group 1 */
$merlot:#951F2B;
$rum-swizzle:#F5F4D7;
$aths-special:#E0DFB1;
$tallow:#A5A36C;
$hemlock:#535233;

/* group 2 */
$pink-lady:#FFF3DB;
$satin-linen:#E7E4D5;
$soft-amber:#D3C8B4;
$flush-mahogany:#C84648;
$congo-brown:#703E3B;

