$white:rgba(255,255,255,1);
$white1:rgba(243,243,243,1);
$white2:rgba(237,237,237,1);
$white50:rgba(255,255,255,0.5);
$white75:rgba(255,255,255,0.75);

$lightGrey:#ccc;
$medGrey:#666;
$darkGrey:#333; 
$grey2:#9D9D93;
$grey3:#5C5151;
$brownGrey:rgb(89,79,79);
$blueGrey:rgb(84,121,128);
$greenGrey:#C5CFC6;

$tan:#f2f0df;
$green:#8e9e82;

$black40:rgba(0, 0, 0,0.4);
$black50:rgba(0, 0, 0,0.5);
$black60:rgba(0,0,0,0.6);
$blue70:rgba(33, 66, 120, 0.7);
$blue75:rgba(33, 66, 120, 0.75);
$medBlue:rgb(0, 116, 217);  
$mdGreenBlue:rgb(84,121,128); 
$pastelGreen:rgb(157,224,173);
$pastelYellow:rgb(229,252,194);


/* title: sandy stone beach ocean diver https://color.adobe.com/themeID/15325 */
$ssbod1:rgba(230,226,175,1);
$ssbod2:rgba(167,163,126,1);
$ssbod3:rgba(239,235,202,1);
$ssbod4:rgba(4,98,128,1);
$ssbod5:rgba(0,47,47,1);

/* title: Firenze https://color.adobe.com/themeID/24198 */
$fire1:rgba(70,137,102,1);
$fire2:rgba(255,239,165,1);
$fire3:rgba(255,175,59,1);
$fire4:rgba(182,73,38,1);
$fire5:rgba(142,40,0,1);

////clairedelune////
$claire1:#413E4A;
$claire2:#73626E;
$claire3:#B38184;
$claire4:#F0B49E;
$claire5:#F7E4BE;
//////////////////

////* group 1 */
$merlot:#951F2B;
$rum-swizzle:#F5F4D7;
$aths-special:#E0DFB1;
$tallow:#A5A36C;
$hemlock:#535233;

/* group 2 */
$pink-lady:#FFF3DB;
$satin-linen:#E7E4D5;
$soft-amber:#D3C8B4;
$flush-mahogany:#C84648;
$congo-brown:#703E3B;

/* Social Media Colors */
$android-clr:#8ec147;
$apple-clr:#777;
$behance-clr:#0077ff;
$bitcoin-clr:#f79012;
$buysellads-clr:#c90100;
$codepen-clr:black;
$css3-clr:#0270bb;
$delicious-clr:#31a9ff;
$deviantart-clr:#05cc47;
$digg-clr:#0093cc;
$dribbble-clr:#ea4c89;
$dropbox-clr:#007ee5;
$drupal-clr:#0678bf;
$email-clr:rgb(201, 44, 25);
$email-1-clr:#35c7ed;
$email-2-clr:#35c7ed;
$facebook-clr:#4862a3;
$fire-clr:#4b2a10;
$flickr-clr:#ff1981;
$foursquare-clr:#f04d7a;
$git-clr:#f64d27;
$github-clr:#333;
$google-clr:#3f85f4;
$google-plus-clr:#dd4b39;
$html5-clr:#e54d26;
$instagram-clr:#3d6b92;
$joomla-clr:#fc8f30;
$jsfiddle-clr:#4679bd;
$lastfm-clr:#df1c23;
$linkedin-clr:#0077b5;
$linux-clr:#39a6df;
$maxcdn-clr:#ff5b02;
$medium-clr:#333;
$pagelines-clr:#444;
$paypal-clr:#009cde;
$phone-clr:green;
$pinterest-clr:#db242c;
$reddit-clr:#ff4500;
$rss-clr:#fc8f55;
$share-clr:#01924b;
$skype-clr:#00aff0;
$slideshare-clr:#0679b5;
$soundcloud-clr:#ff4e00;
$spotify-clr:#84bd00;
$stack-exchange-clr:#366fb3;
$stack-overflow-clr:#07c;
$stumbleupon-clr:#ea4b24;
$trello-clr:#026aa7;
$tumblr-clr:#2c4762;
$twitter-clr:#4099FF;
$vimeo-clr:#44bbff;
$vine-clr:#00bf8f;
$vk-clr:#6281a3;
$whatsapp-clr:#59ac23;
$windows-clr:#00bcf2;
$wordpress-clr:#1e8cbe;
$xing-clr:#006464;
$yahoo-clr:#5210c4;
$yelp-clr:#c41200;
$youtube-clr:#d02022;
$youtube-play-clr:#d02022;
