@import 'compass';
@import 'color-schemer';

$white1: rgba(243, 243, 243, 1);
$white2: rgba(237, 237, 237, 1);
$white50: rgba(white, 0.5);
$white75: rgba(white, 0.75);
$black40: rgba(black, 40);
$black50: rgba(black, 50);
$grey: shade(#ecf0f1, 10);
$medBlue: rgb(0, 116, 217);
$medGrey: #666;
$darkGrey: #333;
$grey2: #9D9D93;
$grey3: #5C5151;
$red: #e74c3c;
$blue: rgba(44, 62, 80, 1);
$blueA: rgba(44, 62, 80, .8);

$fire1: rgba(70, 137, 102, 1);
$fire2: rgba(255, 239, 165, 1);
$fire3: rgba(255, 175, 59, 1);
$fire4: rgba(182, 73, 38, 1);
$fire5: rgba(142, 40, 0, 1);

/*//// COLOR SCHEMER ///////////s////
$cs-primary: $fire4;
$cs-scheme: accented-analogic; // mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset: 20;
$cs-brightness-offset: -20;
$primary: cs-primary();
$secondary: tint(cs-secondary(), 75);
$tertiary: cs-tertiary();
$quadrary: cs-quadrary();
$quinary: tint($secondary, 90%);
$darkQuad: shade($quadrary, 76%);
$online: saturate(#4cae4c, 20);
//@include cs-test($primary $secondary $tertiary $quadrary $quinary $darkQuad);
///////////////////////////////////////////*/

//gradient class
.white-gloss {
	// http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232
	background-color: white; // Old browsers
	@include filter-gradient(white, white, vertical); // IE6-9
	@include background-image(linear-gradient(top, white 0%, $white1 50%, $white2 51%, white 100%));
}

/* Obnoxious styling for icon fonts */
.connect .fa {
	transition: all 1.5s ease;

	&.fa-envelope-o {
		color: rgb(201, 44, 25);
		&:hover {
			color: white;
			background: rgb(201, 44, 25);
		}
	}

	&.fa-phone {
		color: green;
		&:hover {
			color: #fff;
			background: green;
		}
	}

	&.fa-twitter {
		color: #4099FF;
		&:hover {
			color: white;
			background: #4099FF;
		}
	}

	&.fa-linkedin {
		color: #0077b5;
		&:hover {
			color: white;
			background: #0077b5;
		}
	}

	&.fa-drupal {
		color: #0678bf;
		&:hover {
			color: white;
			background: #0678bf;
		}
	}

	&.fa-github {
		color: #333;
		&:hover {
			color: white;
			background: #333;
		}
	}

	&.fa-codepen {
		color: black;
		&:hover {
			color: white;
			background: black;
		}
	}

	&.fa-stack-overflow {
		color: #07c;
		&:hover {
			color: white;
			background: #07c;
		}
	}

	&.fa-dribbble {
		color: #ea4c89;
		&:hover {
			color: white;
			background: #ea4c89;
		}
	}

	&.fa-fire {
		color: #4b2a10;
		&:hover {
			color: white;
			background: #4b2a10;
		}
	}
}

/* ------- DEV ICONS ------- */
.devicons {
	color: #000;
}

.devicons-html5 {
	color: #E34C26;
}

.devicons-css3 {
	color: #0b73b8;
}

.devicons-bootstrap {
	color: #401F7C;
}

.devicons-wordpress {
	color: #21759b;
}

.devicons-javascript {
	background: #f0db4f;
}

.devicons-jquery {
	color: #0769AD;
}

.devicons-mongodb {
	color: #69B241
}

.devicons-sass {
	color: #c69; /*// lighter pink //*/
	color: #b37399; /*// darker pink //*/
}

.devicons-angular {
	color: #e62a39;
}

.devicons-nodejs {
	color: #8CC84B;
}

.devicons-npm {
	color: #cb3837;
}

.devicons-sublime {
	color: #ff8100;
}

.devicons-cloud9 {
	color: #237cc5;
}

.devicons-vim {
	color: #019833;
}

.devicons-heroku {
	color: #6567a5;
}

.devicons-git {
	color: #ee513b;
}

.devicons-drupal {
	color: #0678bf;
}

.devicons-react {
	color: #61dafb;
	@include border-radius(50%);
	background: #111;
}
.devicons-mysql {
	color: #005269;
}
.devicons-php{
	color:black;
	background:#6C7EB7;
	@include border-radius(50%);
}
.devicons-illustrator {
	color: #FF7C00;
	background-color: #261300;
}

.devicons-photoshop {
	color: #00C8FF;
	background-color: #001D26;
}