$fontAdvent:"Advent Pro", sans-serif;
$fontCagli:"Cagliostro", cursive; 
$fontCarter:"Carter One", cursive;  
$fontComfort:"Comfortaa", cursive;
$fontCorben:"Corben", cursive;
$fontCrimson:'Crimson Text', serif;
$fontDidact:'Didact Gothic', sans-serif;
$fontDroid:'Droid Serif', serif;
$fontKameron:'Kameron', serif;
$fontSurfer:"Original Surfer", cursive; 
$fontOxygen:'Oxygen', sans-serif;
$fontQwigley:'Qwigley', cursive;
$fontRaleway:'Raleway', sans-serif;
$fontRighteous:"Righteous", cursive;
$fontSrcSans:"Source Sans Pro", sans-serif;
$fontBody:"Source Sans Pro", sans-serif;
$fontSue:'Sue Ellen Francisco', cursive;