/* content backgrounds */
section {
  @include marding();
  @include flex($direction: column, $wrap:wrap);
  width: 100%;
  overflow: hidden;
  max-width:100%;
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  &:nth-of-type(1) {
    min-height: 100vh;
    padding: 10%;
    background-image: url('/img/0.jpg');
  }
  &:nth-of-type(2)  {
    width: 100%;
    padding: 0;
    background-image: url('/img/1.jpg');
  }
  &:nth-of-type(3)  {
    height:auto;
    background-image: url('/img/3.jpg');
  }
  &:nth-of-type(4)  {
    min-height: 100vh;
    padding: 10% 1%;
    background-image: url('/img/0.jpg');
  }}
