doctype html
html
	head
		meta(charset='UTF-8')
		title Portfolio 2.6
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
		link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
		link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css')
		link(rel='stylesheet prefetch' href='css/colors.css')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Advent+Pro|Source+Sans+Pro|Cagliostro')
	body
		nav.navbar.navbar-default.navbar-fixed-top.topnav.white-gloss
			.container.topnav
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#home' target='_blank') EO
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#home') Intro
						li
							a(href='#portfolio') Portfolio
						li
							a(href='#about') About
						li
							a(href='#contact') Contact
		a(name='home')
		section.panel-1
			.banner-message.text-center
				h1 Erik Olsen
					br
				h3 Front End Developer
			img.img(src='https://www.baristasbeans.com/sites/default/files/styles/flags/public/avatars/picture-1-1420384014.jpg' alt='Erik Olsen')
			#about-card.container
				p I am a highly motivated and driven individual looking to advance my career in web and software development. I've obtained a
					a.link(target='_blank' href='//www.freecodecamp.com/erawk26/front-end-certification' title='My Front End Developement Certification') Front End Development Certificate
					|  from
					a.link(title='About FreeCodeCamp' target='_blank' href='//www.freecodecamp.com/about') FreeCodeCamp.com
					|  and I'm continuing on towards a Full Stack Development Certificate. I am also willing and able to learn new technologies fast, and I work great with others.
				h5
					strong Competences
					br
					dl.dl-horizontal
						dt#lang-frame Languages and Frameworks:
						dd Javascript, HTML5, CSS3, SCSS/SASS, jQuery, Bootstrap, JSON, mySQL.
						dt Tools & expertise:
						dd Adobe Photoshop & Illustrator, Git, Responsive Web Design, CMS & Drupal, SSH.
		a(name='portfolio')
		section.panel-3.clearfix
			.p-cont
				.col-sm-4.col-xs-6
					.portfolio-img.p1
						a(href='//baristasbeans.com' target='_blank' rel='noreferrer' role='button' title="Barista's Beans")
							.caption
								h4.job-name Barista's Beans
								span.cap-hov
									p My eCommerce mobile-first site built off of Drupal. It features recurring coffee subscriptions. It's very secure and easy to maintain. Everything gets backed up and updated through SSH.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-drupal(title='Drupal')
												span.screen-reader-text Drupal CMS
										li.oauth
											img.img-responsive(src='https://upload.wikimedia.org/wikipedia/commons/d/d2/Oauth_logo.svg' title='Oauth')
											span.screen-reader-text Oauth
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Web Design
				.col-sm-4.col-xs-6
					.portfolio-img.p8
						a(href='https://codepen.io/erawk26/pen/YqWWaQ/' target='_blank' rel='noreferrer' role='button' title='Tic Tac Toe')
							.caption
								h4.job-name Tic Tac Toe
								span.cap-hov
									p A tic tac toe game that I built for a freecodecamp excercise. I made it dynamicly resize to fit the users screen, I also made it keep score. It also uses animate.css to clear the screen.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Web Design
				.col-sm-4.col-xs-6
					.portfolio-img.p9
						a(href='https://codepen.io/erawk26/pen/eZYzvM' target='_blank' rel='noreferrer' role='button' title='Simon Game')
							.caption
								h4.job-name Simon Game
								span.cap-hov
									p A web game based off the classic Simon memory game. You can play in easy or strict mode. The pattern plays progressively faster with every level.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
				.col-sm-4.col-xs-6
					.portfolio-img.p6
						a(href='//erawk26.github.io/Twitch-API/' target='_blank' rel='noreferrer' role='button' title='Twitch TV')
							.caption
								h4.job-name Twitch TV
								span.cap-hov
									p A Twitch TV app that displays a list of users and shows whether they are online or not. You can also filter the list by online status, or name.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Web Design
				.col-sm-4.col-xs-6
					.portfolio-img.p3
						a(href='//codepen.io/erawk26/pen/BKmjLE' target='_blank' rel='noreferrer' role='button' title='Javascript Calculator')
							.caption
								h4.job-name Javascript Calculator
								span.cap-hov
									p This is a calculator that built in javascript
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
				.col-sm-4.col-xs-6
					.portfolio-img.p4
						a(href='//codepen.io/erawk26/pen/pNJGxv' target='_blank' rel='noreferrer' role='button' title='Pomodoro Clock')
							.caption
								h4.job-name Pomodoro Clock
								span.cap-hov
									p A timer I wrote in Javascript, based on the Pomodoro work method. The tomato moves left to right while working and vise versa while on break.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Web Design
				.col-sm-4.col-xs-6
					.portfolio-img.p5
						a(href='https://codepen.io/erawk26/pen/ZQOMPg' target='_blank' rel='noreferrer' role='button' title='Local Weather')
							.caption
								h4.job-name Local Weather
								span.cap-hov
									p A simple page that displays the users current local weather from the wunderground.com API. I made the background change, based on weather conditions, and time of day.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Design
				.col-sm-4.col-xs-6
					.portfolio-img.p7
						a(href='//codepen.io/erawk26/pen/MKZbYN' target='_blank' rel='noreferrer' role='button' title='Wikipedia Search')
							.caption
								h4.job-name Wikipedia Search
								span.cap-hov
									p A wikipedia search page I wrote for a FreeCodeCamp exercise. Pretty simple, but it helped introduce me to JSON, as well as Wikipedia's API.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-sass(title='Sass')
												span.screen-reader-text Sass
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
										li
											i.devicons.devicons-responsive(title='Responsive Web Design')
												span.screen-reader-text Responsive Web Design
				.col-sm-4.col-xs-6
					.portfolio-img.p2
						a(href='//codepen.io/erawk26/pen/jWyZae/' target='_blank' rel='noreferrer' role='button' title='Random Quote Generator')
							.caption
								h4.job-name Random Quote Generator
								span.cap-hov
									p This very simple quote generator, It picks a random quote from an array and gives you the option to tweet it.
									ul.tags
										li
											i.devicons.devicons-html5(title='HTML5')
												span.screen-reader-text HTML5
										li
											i.devicons.devicons-css3(title='CSS3')
												span.screen-reader-text CSS3
										li
											i.devicons.devicons-bootstrap(title='Bootstrap')
												span.screen-reader-text BootStrap
										li
											i.devicons.devicons-javascript(title='JavaScript')
												span.screen-reader-text JavaScript
										li
											i.devicons.devicons-jquery(title='jQuery')
												span.screen-reader-text jQuery
		a(name='about')
		section.panel-2
			.a-cont
				.col-sm-4.col-xs-12
					h1
						i.fa.fa-code
					h4.text-center Where I'm at
					p I've run my own ecommerce website for close to 10yrs now. I built it off of Drupal CMS. In December I decided that I wanted to learn how to write Javascript manually. I obtained a front end development certificate in March.
				.col-sm-4.col-xs-12
					h1
						i.fa.fa-send
					h4.text-center Where I'm Going
					p I'm aspiring to learn full stack JS development. I have my sights set on React and D3 at the moment, as well as Angular in the near future.
				.col-sm-4.col-xs-12
					h1
						i.fa.fa-tree
					h4.text-center What inspires me
					p Higher order functions, recursion, and functional programming. I love finding dynamic, cleaner, more efficient, ways to write code as I delevop a deeper understanding of these concepts.
		a(name='contact')
		section.panel-4.text-center
			h1 Let's Connect
			.connect
				a(href='mailto:erik@baristasbeans.com' target='_blank' data-toggle='tooltip' data-placement='bottom' title='erik@baristasbeans.com')
					i.fa.fa-envelope-o
						span.screen-reader-text E-Mail
				a(href='tel:+1-802-851-5512' target='blank' data-toggle='tooltip' data-placement='bottom' title='+1-802-851-5512')
					i.fa.fa-phone
						span.screen-reader-text Phone
				a(href='//twitter.com/RoastingBarista' target='_blank' data-toggle='tooltip' data-placement='bottom' title='Twitter')
					i.fa.fa-twitter
						span.screen-reader-text Twitter
				a(href='//www.linkedin.com/in/roastingbarista' target='_blank' data-toggle='tooltip' data-placement='bottom' title='LinkedIn')
					i.fa.fa-linkedin
						span.screen-reader-text LinkedIn
				a(href='//github.com/erawk26' target='_blank' data-toggle='tooltip' data-placement='bottom' title='GitHub')
					i.fa.fa-github
						span.screen-reader-text Github
				a(href='//www.freecodecamp.com/erawk26' target='_blank' data-toggle='tooltip' data-placement='bottom' title='freeCodeCamp')
					i.fa.fa-fire
						span.screen-reader-text freeCodeCamp
				a(href='//codepen.io/erawk26' target='_blank' data-toggle='tooltip' data-placement='bottom' title='CodePen')
					i.fa.fa-codepen
						span.screen-reader-text Codepen
			br
		.back-to-top Back to Top
		//footer.center
			| This website and its content is copyright of Erik Olsen © 2015
			script.
				new Date().getFullYear() > 2015 && document.write("-" + new Date().getFullYear());
			| . All rights reserved.
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='js/index.js')