doctype html
html
	head
		meta(charset="UTF-8")
		title Erik's Portfolio
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Work+Sans:500")
		link(rel="stylesheet", href="/public/css/style.css")
		// Global site tag (gtag.js) - Google Analytics
		script(async="", src="https://www.googletagmanager.com/gtag/js?id=UA-115116018-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-115116018-1');
	body
		a#intro
		header
			nav.main-nav
				a.home(href="#intro") Erik
				span.mid-links
					a.projects(href="#portfolio") Projects
					a.about(href="#about") About
				a.resume(target="blank", href="./public/files/ErikOlsen_Resume.pdf") Resume
		section.intro
			img.headshot(src=require('./img/headshot2.jpg'), alt="Erik Olsen")
			p I'm Erik Olsen, a Web Developer currently based out of Sarasota, FL. I build fast responsive websites and applications.
			a.fa.fa-chevron-down(href="#portfolio")
		a#portfolio
		section#portApp.vue-portfolio
		section.about
			.section-wrapper
				a(name="about")
				.col.about
					h3#about About
					p.about-text
						| I've worked in the Industry for a little over 2 years now; Before that, I had obtained a&nbsp;
						a.link(target="_blank", href="//www.freecodecamp.com/erawk26/front-end-certification", title="My Front End Developement Certification") Front End Development Certificate
						| &nbsp;from&nbsp;
						a.link(title="About FreeCodeCamp", target="_blank", href="//www.freecodecamp.com/about") FreeCodeCamp.com
						| , and I'm continuing on towards a Full Stack Development Certificate. I am also willing and able to learn new technologies fast, and I thrive in a team setting.
				.col.contact
					h3 Contact
					p
						a(href="mailto:me@erikthedeveloper.com") me@erikthedeveloper.com
					p
						a(href="tel:+18028515512") 802.851.5512
		a#back-to-top.back-to-top(href="#intro") Back to Top
		footer
			.mw-wrapper
				.col.copy
					small
						| © 2015
						script.
							new Date().getFullYear() > 2015 && document.write(" - " + new Date().getFullYear());
						| . Made by Erik Olsen
				.col
					.contact
						a(href="mailto:me@erikthedeveloper.com", target="_blank", title="me@erikthedeveloper.com")
							i.fa.fa-envelope-o
								span.screen-reader E-Mail
						a(href="tel:+1-802-851-5512", target="_blank", title="+1-802-851-5512")
							i.fa.fa-phone
								span.screen-reader Phone
						a(href="//www.linkedin.com/in/erikthedeveloper", target="_blank", title="LinkedIn")
							i.fa.fa-linkedin
								span.screen-reader LinkedIn
						a(href="//github.com/erawk26", target="_blank", title="GitHub")
							i.fa.fa-github
								span.screen-reader Github
						a(href="//codepen.io/erawk26", target="_blank", title="CodePen")
							i.fa.fa-codepen
								span.screen-reader Codepen
				.col